<%- include('includes/head.ejs') %> <!-- ejs function renders the head section -->
</head>
<body>
    <%- include('includes/navigation.ejs') %> <!-- ejs function renders the header and nav section -->
    <main>
        <h1>404</h1>
        <p>Page not found, dude!</p>
    </main>
<%- include('includes/end.ejs') %>