<%- include('../includes/head.ejs') %> <!-- ejs function renders the head section -->
</head>
<body>
    <%- include('../includes/navigation.ejs') %> <!-- ejs function renders the header and nav section -->
    <main>
        <h1>Cart</h1>
        <p>Testing 1 2</p>
    </main>
<%- include('../includes/end.ejs') %>